<div class="form-group">
  <div class="row">
    <div class="col-sm-3 text-right">
      <label for="url" class="control-label">RSS Feed URL</label>
    </div>
    <div class="col-sm-7">
      <input type="text" ng-model="feed.url" class="form-control" id="url" placeholder="Example: http://www.yoursite.com/feed" value="{{feed.url}}"ng-change="inputChanged()" ng-model-options="{ debounce:1000 }" />
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3 text-right">
      <label for="title" class="control-label">RSS Feed Name</label>
    </div>
    <div class="col-sm-7">
      <input type="text" ng-model="feed.name" class="form-control" id="title" placeholder="Feed Name" value="{{feedName}}" />
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <div ng-if="feedOk">
      <strong>Number of posts in feed: {{feedCount}} </strong>
      <div class="glyphicon glyphicon-ok-sign" style="color:green;"></div>
    </div>
    <div ng-show="feedBroken">
      Can not parse feed!
      <div class="glyphicon glyphicon-exclamation-sign" style="color:red;"></div>
    </div>
  </div>
  <div class="col-md-4">&nbsp;</div>
</div>

<div ng-include="'partials/_settings.html'"></div>
